<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
    <title>{{ .Site.Title }}</title>
  <body>
    <header class="site-header">
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{/* --- JS Scripts Load --- */}}

    {{/* 1. JS-Array of scripts init */}}
    {{ $scripts := slice (resources.Get "js/main.js") }}

    {{/* 2. Check on pageScript prop existence (page-frontmatter) */}}
    {{ with .Params.pageScript }}
    {{ $pageScriptResource := resources.Get (printf "js/%s" .) }}
    {{ if $pageScriptResource }}
    {{ $scripts = $scripts | append $pageScriptResource }}
    {{ else }}
    {{ warnf "Script was not found: js/%s" . }}
    {{ end }}
    {{ end }}

    {{/* 3. Scripts bundling */}}
    {{ $bundle := $scripts | js.Build | minify | fingerprint }}

    {{/* 4. Final bundle integration */}}
    <script src="{{ $bundle.Permalink }}" defer></script>
  </body>
</html>
