{{ define "main" }}
<div class="page-content">
    <div id="location-modal" class="base-modal">
    </div>

    <section class="locations-intro">
        <h1>Strutture</h1>
        <p>Scopri le nostre strutture!</p>
    </section>

    <div class="locations-container">

        <div id="map"></div>

        <div class="locations-sheet">
            <div class="sheet-handle"></div>

            <div class="sheet-content">
                <div class="filters-container" id="location-filter-container">
                    <button class="filter-button active" data-filter="all">Tutte</button>
                    {{ range where .Site.RegularPages "Section" "location-types" }}
                    <button class="filter-button"
                            data-filter="{{ .Title }}"
                            data-color="{{ .Params.color }}">
                        {{ .Title }}
                    </button>
                    {{ end }}
                </div>

                <div class="structures-grid">
                    {{ range where .Site.RegularPages "Section" "locations" }}
                    <div class="location-card-wrapper"
                         data-lat="{{ .Params.latitude }}"
                         data-lng="{{ .Params.longitude }}">
                        {{ partial "location-card.html" . }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>

    </div>
</div>
{{ end }}