*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $dark-grey;
  background-color: $light-grey;
  margin: 0;
  //padding: 0;
  flex: 1;
}

//.page-content {
//  padding-top: 40px;
//  padding-bottom: 40px;
//}
.page-content {
  padding: 2rem 0;

  @media (min-width: $breakpoint-md) {
    padding: 3rem 0;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 4rem 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
  font-weight: 600;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  p {
    margin-bottom: 1.5rem;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(#295763, 0.5) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #295763;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

// Footer
.footer {
  background-color: $dark-grey;
  color: $light-grey;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content {

}