.organizers-grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  padding: 1.25rem;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin: 0 auto;
  user-select: none;

  & h2, h3 {
    color: $secondary-color;
    font-weight: bold;
  }
}


@media (max-width: $breakpoint-md) {
  .organizers-grid-container {
    padding: 1rem;
  }
}

.organizers-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.organizer-logo img {
  max-height: 80px;
  width: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.organizer-logo:hover img {
  opacity: 1;
}

.partners-container {
  margin-top: 1.5rem;
}

.partner-container-header{
  display: flex;
  width: fit-content;
  border-radius: 15px;
  padding-top: .25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  flex-direction: row;
  align-items: center;
  text-align: center;
  user-select: none;

  h2 {
    font-weight: 400;
    margin: 0;
    flex: 1;
  }
}

.partner-grid {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  //gap: 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;

  //display: grid;
  //grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: repeat(3, 1fr);
  //grid-column-gap: 5px;
  //grid-row-gap: 5px;
}

.partner-card {
  display: flex;
  width: fit-content;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  transition: .25s ease-in-out;
  align-content: end;

  &:hover {
    box-shadow: 0 0 11px rgba(0,0,0,.1);
  }
}

.partner-logo {
  max-width: 120px;
  margin: 0 auto;
}

.partner-link {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: bold;
  color: #0066cc;
}

// Custom btn

@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s,
  $borderRadius: 15px,
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  border-radius: $borderRadius;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    border-radius: $borderRadius;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before { transition-delay: 0s, 0s, $duration; }

    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing($primary-color, $accent-color-2, 4px, bottom, right);
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.2rem;
  padding: .6em 1.2em;
  letter-spacing: 0.05rem;

  &:focus { outline: 2px dotted #55d7dc; }
}

.experiment {
  clip-path: polygon(5% 31%, 87% 25%, 95% 55%, 1% 51%);
}

//@media (min-width: $breakpoint-md) {
//  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
//}

@media (max-width: $breakpoint-md) {
  .partner-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn {
    font-size: .95rem;
  }
}

//@media (max-width: $breakpoint-sm) {
//  .partner-grid {
//    /* Layout per schermi molto piccoli (solo mobile) */
//    grid-template-columns: repeat(1, 1fr);
//  }
//}