// Color Palette
$primary-color: #03A8B4;
$secondary-color: #295763;
$accent-color-1: #993701;
$accent-color-2: #DD9426;
$dark-grey: #2D2D2D;
$light-grey: #FBFBFB;

// Typography
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;