{{ define "main" }}

<section class="about-hero">
    <div class="content-container">
        <h1>{{ .Title }}</h1>
        <h2>{{ .Params.subtitle }}</h2>
        <div>{{ .Content }}</div>
    </div>
    <div class="image-container">
        {{ range .Params.images }}
        <img src="{{ .image }}" alt="{{ .alt }}">
        {{ end }}
    </div>
</section>

<hr>

<section class="organizzatori">
    <h2>Organizzatori</h2>
    <div class="cards-container">
        {{ range $.Site.Data.organizzatori }}
        <div class="card">
            <img src="{{ .photo }}" alt="{{ .name }}">
            <h3>{{ .name }}</h3>
            <p>{{ .role }}</p>
            <p>{{ .education }}</p>
        </div>
        {{ end }}
    </div>
</section>

{{ end }}