<nav class="navbar">
    <a href="{{ .Site.BaseURL }}" class="navbar-brand">
        <img src="{{ .Site.BaseURL }}images/logo.png" alt="Logo">
    </a>
    <ul class="navbar-links">
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}chi-siamo">Chi Siamo</a></li>
        <li><a href="{{ .Site.BaseURL }}strutture">Strutture</a></li>
        <li><a href="{{ .Site.BaseURL }}ospiti">Ospiti</a></li>
        <li><a href="{{ .Site.BaseURL }}programma">Programma</a></li>
        <li><a href="{{ .Site.BaseURL }}partners">Partners</a></li>
    </ul>
</nav>