<div class="container">
    <div class="site-logo">
        <img src="{{ .Site.Params.image | relURL }}" alt="{{ .Site.Params.alt }}">
    </div>
    <nav class="main-nav">
        <ul class="nav-menu">
            {{ $currentPage := . }}
            {{- range .Site.Menus.main }}
            <li class="nav-item">
                <a href="{{ .URL }}" class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
            </li>
            {{- end }}
        </ul>
    </nav>

    <div class="mobile-nav-toggle">
        <button class="menu-toggle-button">
            <span class="hamburger-icon"></span>
        </button>
    </div>
</div>
<nav class="mobile-bottom-bar">
    <ul class="bottom-menu">
        {{ $currentPage := . }}
        {{ range sort (where .Site.Menus.main "Params.bottombar" true) "Params.mobile_sort" "asc" }}
        <li class="bottom-item">
            <a href="{{ .URL }}" class="bottom-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <svg class="bottom-icon">
                    <use xlink:href='{{ "images/icons.svg" | relURL }}#{{ .Identifier }}'></use>
                </svg>
                <span class="bottom-text">{{ .Name }}</span>
            </a>
        </li>
        {{ end }}

        <li class="more-menu-icon more-menu-toggle">
            <svg>
                <use xlink:href='{{ "images/icons.svg" | relURL }}#{{ "more-dots-vertical-solid" }}'></use>
            </svg>
        </li>
    </ul>
</nav>

<aside class="mobile-popup-menu">
<!--    <div class="popup-header">-->
<!--        <button class="popup-close-btn">&times;</button>-->
<!--    </div>-->
    <ul class="popup-menu">
        {{- range (where .Site.Menus.main "Params.bottombar" false).ByWeight }}
        <li class="popup-item">
            <svg>
                <use xlink:href='{{ "images/icons.svg" | relURL }}#{{ .Identifier }}'></use>
            </svg>
            <a href="{{ .URL }}" class="popup-link">{{ .Name }}</a>
        </li>
        {{- end }}
    </ul>
</aside>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const toggleBtn = document.querySelector('.more-menu-toggle');
        const popupMenu = document.querySelector('.mobile-popup-menu');
        const closeBtn = document.querySelector('.popup-close-btn');
        const body = document.body;

        toggleBtn.addEventListener('click', () => {
            body.classList.toggle('popup-open');
        });

        closeBtn.addEventListener('click', () => {
            body.classList.remove('popup-open');
        });

        document.addEventListener('click', (event) => {
            if (!popupMenu.contains(event.target) && !toggleBtn.contains(event.target) && body.classList.contains('popup-open')) {
                body.classList.remove('popup-open');
            }
        });
    });
</script>