<!-- Desktop -->
<div class="desktop-navbar-container">
    <div class="site-logo">
        <a href="{{ .Site.BaseURL | relURL }}">
            <img src="{{ .Site.Params.image | relURL }}" alt="{{ .Site.Params.alt }}">
        </a>
    </div>
    <nav class="desktop-navigation-items-container">
        <ul class="nav-menu">
            {{ $currentPage := . }}
            {{- range sort (where .Site.Menus.main "Params.show_desktop" true) "Params.desktop_sort" "asc" }}
            <li class="nav-item">
                <a href="{{ .URL }}" class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
            </li>
            {{- end }}
        </ul>
    </nav>
</div>
<!-- Mobile -->
<nav class="mobile-bottom-bar">
    <ul class="bottom-menu">
        {{ $currentPage := . }}
        {{ range sort (where .Site.Menus.main "Params.bottombar" true) "Params.mobile_sort" "asc" }}
        <li class="bottom-item">
            <a href="{{ .URL }}" class="bottom-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <i class="fa-solid {{ .Params.icon }}"></i>
                <span class="bottom-text">{{ .Name }}</span>
            </a>
        </li>
        {{ end }}

        <li class="more-menu-icon more-menu-toggle">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </li>
    </ul>
</nav>

<aside class="mobile-popup-menu">
    <ul class="popup-menu">
        {{- range (where .Site.Menus.main "Params.bottombar" false).ByWeight }}
        <li class="popup-item">
            <i class="fa-solid {{ .Params.icon }}"></i>
            <a href="{{ .URL }}" class="popup-link">{{ .Name }}</a>
        </li>
        {{- end }}
    </ul>
</aside>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const toggleBtn = document.querySelector('.more-menu-toggle');
        const popupMenu = document.querySelector('.mobile-popup-menu');
        const closeBtn = document.querySelector('.popup-close-btn');
        const body = document.body;

        toggleBtn.addEventListener('click', () => {
            body.classList.toggle('popup-open');
        });

        closeBtn.addEventListener('click', () => {
            body.classList.remove('popup-open');
        });

        document.addEventListener('click', (event) => {
            if (!popupMenu.contains(event.target) && !toggleBtn.contains(event.target) && body.classList.contains('popup-open')) {
                body.classList.remove('popup-open');
            }
        });
    });
</script>