<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link href="https://fonts.cdnfonts.com/css/tbj-endgraph-mini" rel="stylesheet">
<link rel="stylesheet" href="{{ $style.Permalink }}">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">