{{ define "main" }}

<section class="page-content">
    <div class="organizers-grid-container">
        <div style="text-align: center">
            <h2>CISF26 è organizzata da</h2>
            {{ range .Params.organizers }}
            <a href="{{ .link }}" target="_blank" rel="noopener noreferrer" class="organizer-logo">
                <img src="{{ .logo | relURL }}" alt="Logo {{ .name }}">
            </a>
            {{ end }}
        </div>

        <div style="text-align: center">
            <h3>In collaborazione con</h3>
            {{ range .Params.collaborators }}
            <a href="{{ .link }}" target="_blank" rel="noopener noreferrer" class="organizer-logo">
                <img src="{{ .logo | relURL }}" alt="Logo {{ .name }}">
            </a>
            {{ end }}
        </div>
    </div>


   <!-- <section class="partners-container">
        {{ $categories := where .Site.RegularPages "Section" "partner-categories" }}
            {{ range sort $categories "Params.order" }}
                <div class="partner-container-header" style='background-color: {{ .Params.bgColor }}'>
                    <h2 style='color: {{ .Params.Color }}'>{{ .Title }}</h2>
                </div>
                &lt;!&ndash; Sponsors slider &ndash;&gt;
                {{ $catPartners := where (where $.Site.RegularPages "Section" "partners") "Params.category" .Title }}
                {{ range $catPartners }}
                <div class="partners-slider">
                    <div class="partner-card">
                        {{ with .Params.logo }}
                            <img src="{{ . | relURL }}" alt="{{ $.Title }} logo" class="partner-logo" />
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}
        <button class="btn draw-border">SUPPORTACI</button>
    </section>-->

    <section>
<!--        {{ range sort $categories "Params.order" }}-->
<!--            {{ $catPartners := where (where $.Site.RegularPages "Section" "partners") "Params.category" .Title }}-->
<!--            {{ if gt (len $catPartners) 0 }}-->
<!--            <div class="partner-container-header" style='background-color: {{ .Params.bgColor }}'>-->
<!--                <h2 style='color: {{ .Params.Color }}'>{{ .Title }}</h2>-->
<!--            </div>-->
<!--            {{ range sort $catPartners "Params.order" }}-->
<!--                {{ if eq .Params.layout "grid" }}-->
<!--                    {{ partial "partners-grid.html" . }}-->
<!--                {{ else if eq .Params.layout "slider" }}-->
<!--                    {{ partial "partners-slider.html" . }}-->
<!--                {{ else }}-->
<!--                    {{/* Opzionale: Fallback nel caso la proprietà layout non sia definita o sia errata */}}-->
<!--                {{ end }}-->
<!--            {{ end }}-->
<!--        {{ end }}-->
<!--        {{ end }}-->

        {{ range sort $categories "Params.order" }}

        {{ $catPartners := where (where $.Site.RegularPages "Section" "partners") "Params.category" .Title }}
        {{ if gt (len $catPartners) 0 }}

        <div class="partner-container-header" style='background-color: {{ .Params.bgColor }}'>
            <h2 style='color: {{ .Params.Color }}'>{{ .Title }}</h2>
        </div>

        {{ $sortedPartners := sort $catPartners "Params.order" }}

            {{ if eq .Params.layout "grid" }}
                {{ partial "partners-grid.html" (dict "partners" $sortedPartners "category" .) }}
            {{ else if eq .Params.layout "slider" }}
                {{ partial "partners-slider.html" (dict "partners" $sortedPartners "category" .) }}
            {{ end }}

        {{ end }}
        {{ end }}
    </section>


</section>
{{ end }}
